/*----------- General styling /*-----------*/
:root {
  --yellow: rgb(237, 209, 0);
}

body {
  margin: 0;
}

/*----------- Page grid styling /*-----------*/

.page-header {
  grid-area: header;
  background-color: var(--yellow);
  text-align: center;
  padding: 10px 0;
}
.page-main {
  grid-area: main;
}
.page-footer {
  grid-area: footer;
  background-color: var(--yellow);
  text-align: center;
  padding: 10px 0;
}

.page-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr 100px;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

/*----------- Character grid styling /*-----------*/
.char-grid-container {
  display: grid;

  grid-template-columns: 1fr 1fr;
  gap: 1em;
  padding: 1em;
}

@media (min-width: 600px) {
  .char-grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .char-grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .char-grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 1500px) {
  .char-grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

.char-grid-container > article {
  background-color: rgb(154, 77, 0);
  padding: 1em;
  border: solid red;
  border-radius: 1em;
  transition: 0.5s;
  box-shadow: 0px 0px 3px black;
}

.char-grid-container > article:hover {
  background-color: rgb(187, 93, 0);
  box-shadow: 4px 4px 12px black;
  transform: scale(101%);
 
}

article > img {
    display: block;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    
}


/*----------- Modal window styling /*-----------*/

dialog {
    border-radius: 20px;
    width: 700px;
}

.dialog-left {
    grid-area: dialog-left;
}
.dialog-right {
    grid-area: dialog-right;
}
.dialog-bottom {
    grid-area: dialog-bottom;
}

.dialog-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
    'dialog-left dialog-right'
    'dialog-bottom dialog-bottom'
    ;
}